<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Task Manager</title>{% endblock %}

    {% load static %}
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/drawer.css' %}">
</head>

<body>
<nav class="navbar navbar-light bg-light" style="min-height: 150px">
    <button class="navbar-toggler h-100" type="button" data-toggle="collapse" data-drawer-trigger
            aria-controls="drawer-name" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand mb-0 h1">{% block nav_title %}{% endblock %}</span>
</nav>

<section class="drawer drawer--left" id="drawer-name" data-drawer-target="">
    <div class="drawer__overlay" data-drawer-close="" tabindex="-1"></div>
    <div class="drawer__wrapper">
        <div class="drawer__header">
            <div class="drawer__title">
                Меню
            </div>
            <button class="drawer__close" data-drawer-close="" aria-label="Close Drawer"></button>
        </div>
        <div class="drawer__content">
            <a href="/"><span class="iconify" data-icon="carbon:home" data-inline="false"></span> Главная</a>
            <a href="/cards"><span class="iconify" data-icon="carbon:list" data-inline="false"></span> Cтатус</a>
            <a href="/cards/new"><span class="iconify" data-icon="carbon:add-alt" data-inline="false"></span> Создать</a>
            {% if user.is_authenticated %}
                <a href="/logout"><span class="iconify" data-icon="carbon:logout" data-inline="false"></span> Выйти</a>
            {% else %}
                <a href="/login"><span class="iconify" data-icon="carbon:login" data-inline="false"></span> Войти</a>
            {% endif %}
        </div>
    </div>
</section>

<div class="mx-5" style="margin-top: 10px">
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</div>
<script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.js' %}"></script>
<script src="{% static 'main/js/drawer.js' %}"></script>
{% block js %} {% endblock %}

{% block nav_bottom %}
    <div style="margin-bottom: 160px"></div>
    <nav class="navbar fixed-bottom navbar-light bg-light" style="min-height: 150px">
        {% for name, url, counter in data %}
            <div class="col-4">
                <a href="/{{ url }}" class="btn btn-info btn-super-lg navbar-btn {% if url in request.path %}disabled{% endif %}"
                   role="button"
                >{{ name }}</a>
                {% if counter != 0 %}
                    <span class="counter counter-lg">{{ counter }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </nav>
{% endblock %}
</body>
</html>