{% extends "base_generic.html" %}
<div>

</div>

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="get">
                    {{ filter.form.as_p }}
                    <input type="submit"/>
                </form>
            </div>
            {% for card in filter.qs %}
                <div class="col-md-6">
                    <div class="card m-1">
                        <div class="card-footer">
                            {{ card.creator.username }}
                        </div>
                        <div class="card-body">
                            {{ card.header }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}