{% extends "base_generic.html" %}

{% block nav_title %}
    Создать задачу
{% endblock %}

{% block content %}
    {% load bootstrap_tags %}

    <div class="content">
        <div class="row">
            <div class="col-12 card">
                <form action="#" method="post">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="w-100 text-center">
                        <button class="btn btn-lg btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}