{% extends "base_generic.html" %}

{% block nav_title %}
    Создать задачу
{% endblock %}

{% block content %}
    {% load bootstrap_tags %}

    <div class="content">

        <div class="row mb-5">

            <div class="col-12 card">
                <h1 class="mt-3">Умный ввод</h1>
{#                <form action="/smart_text" method="post">#}
                    <div class="form-group">
                        <label for="smartTaskText">Введите текст задачи</label>
                        <textarea class="form-control" id="smartTaskText" rows="6"></textarea>
                    </div>
                    <div class="w-100 text-center mb-3">
                        <button id="smartButton" class="btn btn-lg btn-primary">Обработать</button>
                    </div>
{#                </form>#}
            </div>
        </div>

        <div class="row">

            <div class="col-12 card">
                <h1 class="mt-3">Ручной ввод</h1>
                <form action="#" method="post">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="w-100 text-center mb-3">
                        <button class="btn btn-lg btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'main/js/nlp.js' %}"></script>
{% endblock %}